section.sidebar
    ul.sidebar__list.language
        li.sidebar__item
            a(href='#', data-lang='ru').sidebar__link РУС
        li.sidebar__item
            a(href='#', data-lang='en').sidebar__link ENG

    .socials
        a(href='#').sidebar__link.sidebar__link_like like
        #share.socials__list
