section.sidebar
    ul.sidebar__list
        li.sidebar__item
            a(href='#')#ru.sidebar__link РУС
        li.sidebar__item
            a(href='#')#en.sidebar__link ENG

    .socials
        a(href='#')#share.sidebar__link.sidebar__link_like like
        ul.sidebar__list.socials__list
            each item in ['vkontakte', 'facebook', 'twitter']
                li.sidebar__item
                    a(href='#', class='sidebar__link sidebar__link_#{item}') #{item}