.generator__workplace
    h1.generator__workplace-title
        | Генератор водяных знаков
    // to add table with 4 watermarks - add class 'generator__workplace-content--four'
    .generator__workplace-content
        .workplace__wrap
            // if 1 watermark
            .workplace#workplace
                img(id="workspaceImg" class="workspace__img" src="" alt="")
                .workspace__watermark#workspaceWt
                    img(class="workspace__watermark-img" src="" alt="")