$container-width: 962px;

$footer-height: 45px;

$font-size: 16px;
$font-size-context: 16;

$border-radius: 4px;

$icons-sprite: sprite-map("icons/*.png", $spacing: 50px);

$color: #2e3641;

$red: #f97e76;

